*.o
__pycache__/
*.zip
proxy_dd/.vscode/settings.json
proxy_dd/new_results/.txt
TRACE_GENERATOR/main
proxy_dd/main
stages/single
stages/generator
TRACE_GENERATOR/generator
single_requirement_benchmarks/*
proxy_dd_interpolation_only/trazas/*
real_pipeline_reference/work_qtest/*
real_pipeline_reference/output_qtest/*
real_pipeline_reference/output_test/*
real_pipeline_reference/generated_input_qtest/*
real_pipeline_reference/generated_input_test/*
real_pipeline_reference/work_test/*
real_pipeline_reference/comparison_results_service/*
real_pipeline_reference/comparison_results_queue/*
real_pipeline_reference/results_qtest/*
real_pipeline_reference/comparison_results_test/*
real_pipeline_reference/comparison_results/*
real_pipeline_reference/comparison_results_test2/*
proxy_dd/calibration_runs/*
proxy_dd/paper_evaluation/*
proxy_dd/results_different_machines/c3/*.err
proxy_dd/results_different_machines/c3/*.out
proxy_dd/results_different_machines/toge/*.out
proxy_dd_interpolation_only/calibration_runs/*
proxy_dd_interpolation_only/paper_evaluation/interpolation/*
proxy_dd_interpolation_only/paper_evaluation/*
proxy_dd_interpolation_only/results_different_machines/c3/*.out
proxy_dd_interpolation_only/results_different_machines/c3/*.err
proxy_dd_interpolation_only/results_different_machines/toge/*.out
proxy_dd/results/*
proxy_dd/sensitivity_results/*
proxy_dd/sensitivity_results2/*
proxy_dd/ct_scan_pipeline_results/*
proxy_dd/ct_scan_pipeline_test/results/*
proxy_dd/ct_scan_pipeline_test/*
CaseStudyBoneTumore/tmp_edge/*
CaseStudyBoneTumore/tmp_cloud/*
CaseStudyBoneTumore/tmp_fog/*
*.log
CaseStudyBoneTumore/venv/*
CaseStudyBoneTumore/*.bin
CaseStudyBoneTumore/runinfo/*
CaseStudyBoneTumore/files.txt
CaseStudyBoneTumore/error.txt
simulated_pipeline_results/*
*.bin
proxy_dd/results_different_machines/kbresults/c3/*.out
